:root {
    --background: hsl(0, 0%, 12%);
    --overlay: rgba(0, 0, 0, 0.767);
    --text: hsl(0, 0%, 80%);
    --clear: hsl(0, 0%, 65%);
    --disabled: hsl(0, 0%, 35%);
    --purple: #975aa7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background);
}

#svg-container {
    background-color: white;
}

.horizontal, .vertical {
    stroke: green;
    stroke-width: 1;
}

.crosshair-circle {
    stroke: green;
    stroke-width: 2;
    fill: transparent;
}

#fps-display {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px; /* Font size */
    color: red; /* Text color */
    padding: 5px 10px; /* Padding around the text */
    z-index: 10; /* Ensure it is above other elements */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(200px);
    }
}

.target-removal {
    animation: fadeOut 1s forwards;  /* Fade out and scale down in 0.5s */
}
